{% extends "base.html" %}
{% block title %}Home page{% endblock %}
{% block content %}

<div role="main" class="main">

	<section class="page-header page-header-modern bg-color-quaternary page-header-md custom-page-header">
		<div class="container">
			<div class="row mt-3">
				<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
					<h1>Contact Us</h1>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row pt-1 pb-4 mb-3">
			<div class="col-lg-8">

				<p class="lead mb-4">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>

				<p class="clearfix">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper.</p>

				<div class="row pb-4">
					<div class="col-lg-4">
						<ul class="list list-icons list-icons-style-3 list-tertiary">
							<li><i class="fas fa-chevron-right"></i> Certified Professionals</li>
							<li><i class="fas fa-chevron-right"></i> Former Chief Executives</li>
						</ul>
					</div>
					<div class="col-lg-4">
						<ul class="list list-icons list-icons-style-3 list-tertiary">
							<li><i class="fas fa-chevron-right"></i> Real Estate Professionals</li>
							<li><i class="fas fa-chevron-right"></i> Chartered Financial Analysts</li>
						</ul>
					</div>
					<div class="col-lg-4">
						<ul class="list list-icons list-icons-style-3 list-tertiary">
							<li><i class="fas fa-chevron-right"></i> Nobel Laureate Economists</li>
							<li><i class="fas fa-chevron-right"></i> Former Political Leaders</li>
						</ul>
					</div>
				</div>

				<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>

				<div class="accordion without-bg custom-accordion-style-1 pt-4 pb-4" id="accordion7">
					<div class="card card-default">
						<div class="card-header">
							<h4 class="card-title m-0">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion7" href="#collapse7One" aria-expanded="true">
									Praesent sit amet quam a lorem commodo tincidunt.
									<span class="custom-accordion-plus"></span>
								</a>
							</h4>
						</div>
						<div id="collapse7One" class="collapse show" aria-expanded="true">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.</p>
							</div>
						</div>
					</div>
					<div class="card card-default">
						<div class="card-header">
							<h4 class="card-title m-0">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Two" aria-expanded="false">
									Integer ac elit id est euismod pellentesque.
									<span class="custom-accordion-plus"></span>
								</a>
							</h4>
						</div>
						<div id="collapse7Two" class="collapse" aria-expanded="false" style="height: 0px;">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.</p>
							</div>
						</div>
					</div>
					<div class="card card-default">
						<div class="card-header">
							<h4 class="card-title m-0">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Three" aria-expanded="false">
									Cras interdum neque sit amet justo maximus, ut sollicitudin eros.
									<span class="custom-accordion-plus"></span>
								</a>
							</h4>
						</div>
						<div id="collapse7Three" class="collapse" aria-expanded="false" style="height: 0px;">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.</p>
							</div>
						</div>
					</div>
					<div class="card card-default">
						<div class="card-header">
							<h4 class="card-title m-0">
								<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion7" href="#collapse7Four" aria-expanded="false">
									Pellentesque in ex molestie, convallis nulla ut, ornare erat.
									<span class="custom-accordion-plus"></span>
								</a>
							</h4>
						</div>
						<div id="collapse7Four" class="collapse" aria-expanded="false" style="height: 0px;">
							<div class="card-body">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus.</p>
							</div>
						</div>
					</div>
				</div>

				<p>Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat.</p>

			</div>
			<div class="col-lg-4">
				<img src="img/demos/business-consulting/cases/case-4.jpg" class="img-fluid mb-4" alt="">

				<h4 class="font-weight-bold text-color-dark mt-3">- Our Strategy</h4>
				<div class="owl-carousel owl-theme nav-bottom rounded-nav numbered-dots pl-1 pr-1" data-plugin-options="{'items': 1, 'loop': false, 'dots': true, 'nav': false}">
					<div>
						<div class="custom-step-item">
							<span class="step text-uppercase">
								Step
								<span class="step-number text-color-primary">
									01
								</span>
							</span>
							<div class="step-content">
								<h4 class="mb-4">The first meeting<br> <strong>Understanding the Problem</strong></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.</p>
							</div>
						</div>
					</div>
					<div>
						<div class="custom-step-item">
							<span class="step text-uppercase">
								Step
								<span class="step-number text-color-primary">
									02
								</span>
							</span>
							<div class="step-content">
								<h4 class="mb-4">The second meeting<br> <strong>Business Plan Consultant</strong></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.</p>
							</div>
						</div>
					</div>
					<div>
						<div class="custom-step-item">
							<span class="step text-uppercase">
								Step
								<span class="step-number text-color-primary">
									03
								</span>
							</span>
							<div class="step-content">
								<h4 class="mb-4">The final meeting<br> <strong>Problem Solved</strong></h4>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ex finibus urna tincidunt, auctor ullamcorper risus luctus. Nunc et feugiat arcu, in placerat risus. Phasellus condimentum sapien vitae odio.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center pb-4">
				<p>2020 © Entity Metrics, LLC - Copyright All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>

{% endblock %}
